#footer{
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
    background-color: #E0F8F7;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 100%;
    position:absolute;
    bottom:0px;
}