al_gsb_connexion:
    path:    /
    defaults: { _controller: ALGsbBundle:Connexion:index }
    
al_gsb_accueil:
    path:   /accueil/
    defaults: { _controller: ALGsbBundle:Accueil:index } 
    
al_gsb_saisir_frais:
    path:   /saisirFrais/
    defaults: { _controller: ALGsbBundle:SaisirFrais:index }

al_gsb_saisir_hors_frais:
    path:   /saisirHorsFrais/{id_ficheFrais}
    defaults: { _controller: ALGsbBundle:SaisirFrais:saisirHorsFrais }
    
al_gsb_supprimer_hors_frais:
    path:   /supprimerHorsFrais/{id_ligneFraisHorsForfait}
    defaults: { _controller: ALGsbBundle:SaisirFrais:supprimerHorsFrais }

al_gsb_creer_frais:
    path:   /creerFrais/
    defaults: { _controller: ALGsbBundle:SaisirFrais:creerFrais }
    
    
    
    
    
    
    
al_gsb_consulter_frais:
    path:   /consulterFrais
    defaults: { _controller: ALGsbBundle:ConsulterFrais:index }
    
al_gsb_details_frais:
    path:   /detailsFrais/{id_ficheFrais}
    defaults: { _controller: ALGsbBundle:ConsulterFrais:detailsFicheFrais }
    
    
al_gsb_deconnexion:
    path:   /logout
    defaults: { _controller: ALGsbBundle:Deconnexion:index }